@use "../custom"as *;

.input-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 30px 0;
    color: #fff;
    position: relative;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        color: #fff;
        padding: 20px 45px 20px 20px;

        &::placeholder {
            color: #fff;
        }

        &:focus+div,
        &:valid+div {
            transform: translate(-15px, -25px) scale(.8);
          
        }

    }

    i {
        position: absolute;
        right: 20px;
        top: 30%;
        transform: translate(-50%);
    }

    .label {
        border: none;
        background: transparent;
        padding: 0px 10px;
        position: absolute;
        left: 20px;
        transition: all 0.2s;
        z-index: -1;
    }
}