@use "../custom"as *;

body {
    background: url("../../assets/images/pexels-iamtausifhossain9321-1226302.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    .container {

        .form--card {
            background: transparent;
            border: 2px solid rgba(255, 255, 255, .2);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            color: #fff;
            width: 420px;
            border-radius: 12px;
            padding: 30px 40px;
        }
    }
}