@use "../custom" as *;

.register-link {
    text-align: center;
    margin: 20px 0 15px;

    p {

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
