@use "../custom" as *;

h1 {
    font-size: 36px;
    font-weight: 600;
}

input {
    font-size: 16px;
}

i {
    font-size: 20px;
}

.remember-forgot {
    font-size: 14.5px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
}

.register-link {
    font-size: 14.5px;

    p {

        a {
            font-weight: 600;
        }
    }
}